<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="armIp">
            <h2><span jhiTranslate="userCatalogApp.armIp.detail.title">Arm Ip</span> {{armIp.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="userCatalogApp.armIp.ip">Ip</span></dt>
                <dd>
                    <span>{{armIp.ip}}</span>
                </dd>
                <dt><span jhiTranslate="userCatalogApp.armIp.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'userCatalogApp.Type.' + armIp.type}}">{{armIp.type}}</span>
                </dd>
                <dt><span jhiTranslate="userCatalogApp.armIp.ipVersion">Ip Version</span></dt>
                <dd>
                    <span jhiTranslate="{{'userCatalogApp.IpVersion.' + armIp.ipVersion}}">{{armIp.ipVersion}}</span>
                </dd>
                <dt><span jhiTranslate="userCatalogApp.armIp.arm">Arm</span></dt>
                <dd>
                    <div *ngIf="armIp.armId">
                        <a [routerLink]="['/arm', armIp.armId, 'view']">{{armIp.armId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="userCatalogApp.armIp.arm">Arm</span></dt>
                <dd>
                    <div *ngIf="armIp.armId">
                        <a [routerLink]="['/arm', armIp.armId, 'view']">{{armIp.armId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/arm-ip', armIp.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
