<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="racfUser">
            <h2><span jhiTranslate="userCatalogApp.racfUser.detail.title">Racf User</span> {{racfUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="userCatalogApp.racfUser.name">Name</span></dt>
                <dd>
                    <span>{{racfUser.name}}</span>
                </dd>
                <dt><span jhiTranslate="userCatalogApp.racfUser.uid">Uid</span></dt>
                <dd>
                    <span>{{racfUser.uid}}</span>
                </dd>
                <dt><span jhiTranslate="userCatalogApp.racfUser.type">Type</span></dt>
                <dd>
                    <span>{{racfUser.type}}</span>
                </dd>
                <dt><span jhiTranslate="userCatalogApp.racfUser.owner">Owner</span></dt>
                <dd>
                    <div *ngIf="racfUser.ownerId">
                        <a [routerLink]="['/owner', racfUser.ownerId, 'view']">{{racfUser.ownerId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="userCatalogApp.racfUser.arm">Arm</span></dt>
                <dd>
                    <div *ngIf="racfUser.armId">
                        <a [routerLink]="['/arm', racfUser.armId, 'view']">{{racfUser.armName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="userCatalogApp.racfUser.group">Group</span></dt>
                <dd>
                    <span *ngFor="let group of racfUser.groups; let last = last">
                        <a [routerLink]="['/racf-group', group?.id, 'view' ]">{{group.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="userCatalogApp.racfUser.system">System</span></dt>
                <dd>
                    <span *ngFor="let system of racfUser.systems; let last = last">
                        <a [routerLink]="['/zos-system', system?.id, 'view' ]">{{system.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/racf-user', racfUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
