<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="request">
            <h2><span jhiTranslate="userCatalogApp.request.detail.title">Request</span> {{request.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="userCatalogApp.request.esppRequest">Espp Request</span></dt>
                <dd>
                    <span>{{request.esppRequest}}</span>
                </dd>
                <dt><span jhiTranslate="userCatalogApp.request.asozRequest">Asoz Request</span></dt>
                <dd>
                    <span>{{request.asozRequest}}</span>
                </dd>
                <dt><span jhiTranslate="userCatalogApp.request.racfUser">Racf User</span></dt>
                <dd>
                    <div *ngIf="request.racfUserId">
                        <a [routerLink]="['/racf-user', request.racfUserId, 'view']">{{request.racfUserId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/request', request.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
