<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-request-heading" jhiTranslate="userCatalogApp.request.home.createOrEditLabel">Create or edit a Request</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!request.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="userCatalogApp.request.esppRequest" for="field_esppRequest">Espp Request</label>
                    <input type="text" class="form-control" name="esppRequest" id="field_esppRequest"
                           formControlName="esppRequest"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="userCatalogApp.request.asozRequest" for="field_asozRequest">Asoz Request</label>
                    <input type="text" class="form-control" name="asozRequest" id="field_asozRequest"
                           formControlName="asozRequest"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="userCatalogApp.request.racfUser" for="field_racfUser">Racf User</label>
                    <select class="form-control" id="field_racfUser" name="racfUser" formControlName="racfUserId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="racfUserOption.id" *ngFor="let racfUserOption of racfusers; trackBy: trackRacfUserById">{{racfUserOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
