<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="system">
            <h2><span jhiTranslate="userCatalogApp.system.detail.title">System</span> {{system.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="userCatalogApp.system.name">Name</span></dt>
                <dd>
                    <span>{{system.name}}</span>
                </dd>
                <dt><span jhiTranslate="userCatalogApp.system.ip">Ip</span></dt>
                <dd>
                    <span>{{system.ip}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/system', system.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
